<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'email/base' %>
  <%= stylesheet_link_tag 'app/base' %>
  <%= stylesheet_link_tag 'models/page' %>
  <%= stylesheet_link_tag 'models/post' %>
  <%= stylesheet_link_tag 'app/views/posts/post/styles' %>
  <%= stylesheet_link_tag 'app/views/posts/subpost/styles' %>
  <%= stylesheet_link_tag 'app/views/posts/subposts/styles' %>
  <%= stylesheet_link_tag 'app/views/users/user/styles' %>
  <%= stylesheet_link_tag 'email/overrides' %>
</head>
<body>

  <% if @posts.count > 0 %>
    <%= render :file => 'pages/pages/template', :locals => {:pages => page_hashes_from_posts(@posts)} %>
  <% else %>
    <div class="row">
      <div class="span6">
        <p>
          Huh, you didn't miss any posts.<br>
          Either you're a stellar Reader or you should consider following more people.
        </p>
      </div>
    </div>
  <% end %>

  <%= render :partial => 'footer' %>

</body>
</html>
