<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'email/base' %>
  <%= stylesheet_link_tag 'app/base' %>
  <%= stylesheet_link_tag 'email/overrides' %>
</head>
<body>

  <div class="row">
    <div class="span6">
      <p><%= link_to @enactor.display_name, "http://#{DOMAIN}/#{@enactor.username}", :class => 'user' %> mentioned you:</p>
      <blockquote cite="http://<%= DOMAIN %>/<%= @enactor.username %>/comments/<%= @comment.id %>">
        <p><%= @comment.body.html_safe %></p>
      </blockquote>
      <p>Respond at <em><%= link_to @comment.page.display_title, @comment.post.wrapped_url, :class => 'page' %></em></p>
      <p>
        ------------------<br>
        Prefer to not get emails when mentioned? <%= link_to "Change your settings", "http://#{DOMAIN}/settings/info" %>.
      </p>
    </div>
  </div>

</body>
</html>
