<%= stylesheet_link_tag 'app/views/pages/page/styles' %>
<%= stylesheet_link_tag 'app/views/users/user/styles' %>
<%= stylesheet_link_tag 'email/overrides' %>
<%= stylesheet_link_tag 'email/mentioned' %>

<%= render partial: 'join_bandana', locals: {user: @enactor } if @subject.is_adhoc? %>

<div class="container">

  <div class="row">
    <div class="span6">
      <p>
        <%= link_to "#{ROOT_URL}/#{@enactor.username}", class: 'r_user' do %>
          <span class="r_name"><%= @enactor.display_name %></span>
          <% if !@enactor.name.blank? %>
            <span class="r_username">(@<%= @enactor.username %>)</span>
          <% end %>
        <% end %>
        wants to show you a page:
      </p>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <%
      locals = {url: @url,
                title: @comment.page.display_title,
                medium: @comment.page.medium }

      if @comment.page.content
          locals[:content] = @comment.page.content
      else
          locals[:description] = @comment.page.description
      end
      %>
      <%= render file: 'pages/page/template', locals: locals %>
    </div>
  </div>

  <%= render partial: 'footer' %>

</div>
