<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @comment.user %>
</p>

<p>
  <b>Post:</b>
  <%= @comment.post %>
</p>

<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>

<p>
  <b>Parent:</b>
  <%= @comment.parent %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
