<div id="your_results" class="search_results">
<div class="row section">
  <div class="span7 offset1">
    <h1><%= @posts.total_entries > 0 ? @posts.total_entries : 'None' %> of your own posts matched</h1>
  </div>
</div>
<% if @posts.total_entries > 0 %>
  <% if bot? %>
    <%= render :file => 'pages/pages/template', :locals => { :pages => page_hashes_from_posts(@posts) } %>
  <% else %>
    <div id="yield">
      <%= render :file => 'components/loading_collection/template' %>
    </div>
    <%= render :partial => 'backbone/router', :locals => {:router => :search, :collection => @posts} %>
  <% end %>
<% end %>
</div>

<% if @pages %>
<div id="community_results" class="search_results">
<div class="row section">
  <div class="span7 offset1">
    <h1><%= pluralize @pages.total_entries, 'page' %> from the community matched</h1>
  </div>
</div>

<% @pages.each do |page| %>
  <div class="row">
    <div class="span7 offset1">
      <%= render :file => 'pages/page/template', :locals => { :mustache => page } %>
    </div>
  </div>
<% end %>

<%= will_paginate @pages, :page_links => false %>
</div>
<% end %>

