<div class="row">
  <div class="span7 offset1">
    <h3><%= @posts.total_entries %> of your own posts matched</h3>
  </div>
</div>

<%= render :partial => 'posts/group', :locals => { :posts => @posts } %>

<% if @pages %>
<div class="row">
  <div class="span7 offset1">
    <h3><%= pluralize @pages.total_entries, 'page' %> from the community matched</h3>
  </div>
</div>

<table>
<% @pages.each do |page| %>
  <tr>
    <td><%= render :partial => 'pages/page', :locals => { :page => page } %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @pages %>
<% end %>
