<div id="your_results" class="search_results">
<div class="row">
  <div class="span7 offset1">
    <h1><%= @posts.total_entries > 0 ? @posts.total_entries : 'None' %> of your own posts matched</h1>
  </div>
</div>

<%= render :partial => 'posts/group', :locals => { :posts => @posts } %>
</div>

<% if @pages %>
<div id="community_results" class="search_results">
<div class="row">
  <div class="span7 offset1">
    <h1><%= pluralize @pages.total_entries, 'page' %> from the community matched</h1>
  </div>
</div>

<% @pages.each do |page| %>
  <div class="row">
    <div class="span7 offset1">
      <%= render :partial => 'pages/page', :locals => { :page => page } %>
    </div>
  </div>
<% end %>

<%= will_paginate @pages, :page_links => false %>
</div>
<% end %>
