<%
  no_posts = @user.posts.size == 0
  no_following = @user.following.size == 0
%>
<div id="blank_slate" class="row section">
  <div class="span7 offset1">
    <% if logged_in? && @user == current_user %>
      <% if params[:type] == 'posts' and no_posts %>
      <p>
        <h3>
          This is where you'll see the things you post to Reading,
          but you haven't posted anything yet.
        </h3>
      </p>
      <% elsif params[:type] == 'list' %>
        <p>
          <h3>
            This is where you'll see your own posts and the posts from people you follow,
        <% if no_following %>
            but you're not following anyone yet.
        <% else %>
            but you haven't posted anything that you're reading yet.
        <% end %>
          </h3>
        </p>
      <% end %>
    <% if no_posts %>
    <p>
      To begin adding posts to your profile,
        <% if browser.chrome? %>
          install the Chrome Extension.
        <% else %>
          drag this link to your bookmarks bar.
        <% end %>
      </p>
      <div class="well">
        <% if browser.chrome? %>
          <%= extension_install :chrome, 'Install Chrome Extension' %>
        <% else %>
          <%= link_to '✌ Reading', bookmarklet_url(current_user), :class => 'btn' %>
        <% end %>
      </div>
      <p>
        Or, alternately,
        <% if browser.chrome? %>
          you can use this bookmarklet in any browser by dragging it to your bookmarks bar:
          <%= link_to '✌ Reading', bookmarklet_url(current_user), :class => 'btn' %>
        <% else %>
          if you have the Google Chrome browser, you can install this extension:
          <%= extension_install :chrome, 'Install Chrome Extension' %>
        <% end %>
      </p>
      <p>
        When you visit a webpage, press that button before you start reading so your friends can come read with you.
        That's it, but also:
        <ul>
          <li>Don't wait until after you've read it.</li>
          <li>Don't think too much about it.</li>
          <li>Don't worry about whether the content is good or bad or boring or interesting,<br> everyone else will figure that out for themselves.</li>
        </ul>
      </p>
      <% end %>
    <% else %>
    <h4>
      <% if params[:type] == 'posts' and no_posts %>
        <%= @user.display_name %> hasn't posted anything yet.
      <% elsif params[:type] == 'list' and no_following %>
        <%= @user.display_name %> isn't following anyone yet.
      <% end %>
    </h4>
    <% end %>
  </div>
</div>
