<div id="user_info" class="row">
  <div class="span8">
  <%= twitter_bootstrap_form_for @user, :html => {:class => "form-horizontal"}, :url => "/#{@user.username}/info" do |f| %>
  <fieldset>
    <%= f.file_field :avatar, :class => 'input-xlarge' %>

    <%= f.text_field :name, :class => 'input-xlarge' %>

    <%= f.text_field :username, :class => 'input-xlarge' %>

    <%= f.email_field :email, :placeholder => 'me@example.com', :class => 'input-xlarge' %>

    <%= f.toggles 'Contact' do %><%= f.check_box :wants_mail, "Send a love letter when someone follows me" %><% end %>

    <%= f.text_area :bio, :cols => nil, :rows => 3, :class => 'input-xlarge', :placeholder => 'This one time I...' do %>
      <p class="help-block">Keep it under 255 characters</p>
    <% end %>

    <%= f.text_field :link, 'Homepage', :placeholder => 'http://example.com', :class => 'input-xlarge' %>

    <%= f.text_field :location, :placeholder => 'Louisville, KY', :class => 'input-xlarge' %>

    <%= f.actions do %>
      <%= f.submit 'Update Me' %>
    <% end %>
  </fieldset>
  <% end %>
</div>
</div>
