<div id="user_info" class="row">
  <div class="span7 offset1">
  <%= twitter_bootstrap_form_for @user, :html => {:class => "form-horizontal"}, :url => "/#{@user.username}/info" do |f| %>
  <fieldset>
    <%= f.file_field :avatar %>

    <%= f.text_field :name %>

    <%= f.text_field :username %>

    <%= f.email_field :email, :placeholder => 'me@example.com' %>

    <%= f.text_area :bio, :cols => nil, :rows => 3, :class => 'input-xlarge' %>

    <%= f.text_field :link, 'Homepage', :placeholder => 'http://example.com' %>

    <%= f.toggles 'Mail me, OK?' do %><%= f.check_box :wants_mail, '' %><% end %>

    <%= f.actions do %>
      <%= f.submit 'Update Me' %>
    <% end %>
  </fieldset>
  <% end %>
</div>
</div>
