<nav id="subnav">
<a href="/<%= @user.username %>"<% if params[:type] == 'feed' %> class="active"<% end %>>Reading List</a>
- <a href="/<%= @user.username %>/posts"<% if params[:type] == 'posts' %> class="active"<% end %>>Posts</a>
<% if logged_in? and @user != current_user %>
  <% follow_text = current_user.following?(@user) ? 'unfollow' : 'follow' %>
  - <a href="<%= "/#{@user.username}/#{follow_text}" %>" class="follow"><span><%= follow_text.capitalize %></span> <%= @user.first_name %></a>
<% end %>
</nav>
