<nav id="subnav">
<a href="/<%= @user.username %>"<% if params[:type] == 'posts' %> class="active"<% end %>>Posts</a>
- <a href="/<%= @user.username %>/list"<% if params[:type] == 'list' %> class="active"<% end %>>Reading List</a>
- <a href="/<%= @user.username %>/following"<% if params[:type] == 'following' %> class="active"<% end %>>Following</a>
- <a href="/<%= @user.username %>/followers"<% if params[:type] == 'followers' %> class="active"<% end %>>Followers</a>
- <form id="search" action="/search"><input type="text" name="q" placeholder="Search"></form>
<% if logged_in? and @user != current_user %>
  <% follow_text = current_user.following?(@user) ? 'unfollow' : 'follow' %>
  - | - <a href="<%= "/#{@user.username}/#{follow_text}" %>" class="follow"><span><%= follow_text.capitalize %></span> <%= @user.first_name %></a>
<% end %>
</nav>
