<% name = user == current_user ? 'you' : user.first_name %>
<div id="subnav" class="row">
  <nav class="span7 offset1">
  <a rel="tooltip" data-title="What <%= user == current_user ? "you've" : "#{user.first_name} has" %> read" href="/<%= user.username %>" class="button blue<% if params[:type] == 'posts' %> active<% end %>">
      <%= "Your" if user == current_user %> Posts <span class="count"> › <%= user.posts.size %></span>
    </a>
    <a rel="tooltip" data-title="What <%= name %> and people <%= name %> follow<%= "s" if user != current_user %> have read" href="/<%= user.username %>/list" class="button blue<% if params[:type] == 'list' %> active<% end %>">Following Posts</a>
  </nav>
</div>
