<div class="row" id="almost_ready">
  <div class="span7 offset1">
<%= twitter_bootstrap_form_for current_user, :html => {:class => "form-horizontal"}, :url => '/almost_ready' do |f| %>
  <fieldset>
    <h3>Almost done, we just need a little bit of info.</h3>
    <% if current_user.username_was.blank? %>
      <%= f.text_field :username, "#{DOMAIN}/", :placeholder => 'your_pithy_username' do %>
        <p class="help-block">This is where people can find you on Reading</p>
      <% end %>
    <% end %>
    <% if current_user.email_was.blank? %>
      <%= f.email_field :email, :placeholder => 'your_dated_hs_email@aol.com', :class => 'input-xlarge' do %>
        <p class="help-block">We're totally going to spam you. (Not really)</p>
      <% end %>
    <% end %>
    <%= f.actions do %>
      <%= f.submit 'All done', :class => 'btn btn-success' %>
    <% end %>
  </fieldset>
<% end %>
</div>
</div>
