<div id="content">
<%= render :partial => 'users/settings_header' %>
<%= render :partial => 'users/settings_subnav' if @user == current_user %>

<% if notice %><p id="notice">➥  <%= notice %></p><% end %>

<div id="user_info" class="section"><%= render 'form' %></div>

<%= render 'authorizations/index' %>
</div>
