<%= render :partial => 'users/settings_subnav' if @user == current_user %>

<%= render :partial => 'layouts/notice', :locals => {:notice => notice} %>

<div class="row extra">
  <div class="span7 offset1">
    <h3>Bookmarklet</h3>
    <p>
      The bookmarklet is an easy way to post to Reading from any browser.
      <% if @user_device == :mobile %>
        Since you're on iOS, you'll need to create a regular bookmark first,
        and then replace it with the "javascript..." text below.
        Confused? <%= link_to "Google to the rescue!", "https://www.google.com/search?q=adding+bookmarklets+to+ios&oq=adding+bookmarklets+to+ios&sugexp=chrome,mod=19&sourceid=chrome&ie=UTF-8" %>
      <% else %>
        Drag the link below to your bookmarks bar and click it to post the current page
        to your Reading account.
      <% end %>
    </p>
    <div class="well">
      <% if @user_device == :mobile %>
        <input type="text" class="input-xlarge" value="<%= bookmarklet_url(current_user) %>">
      <% else %>
        <%= link_to '✌ Reading', bookmarklet_url(current_user), :class => 'btn' %>
      <% end %>
    </div>
  </div>
</div>

<div class="row extra">
  <div class="span7 offset1">
    <h3>Browser Extensions</h3>
    <p>
      For Chrome, Safari and Firefox users, the Reading extension is a better choice than our bookmarklet.
      Not only can you post the current page, you can also right click to post links and images.
    </p>
    <div class="well">
      <%= extension_install :chrome %>
      <%= extension_install :safari %>
      <%= extension_install :firefox %>
    </div>
  </div>
</div>

<div class="row extra">
  <div class="span7 offset1">
    <h3>Post Via Email</h3>
    <p>
    Send a link in the body of an email to this address and we'll post it to your account.
    It's handy for posting from your phone or favorite app, so save it in your address book for easy access.
    But remember, keep it super secret because anyone who has it can post!
    </p>
    <div class="well">
      <input type="text" class="input-xlarge" value="<%= @post_email %>">
    </div>
  </div>
</div>

<div class="row extra">
  <div class="span7 offset1">
    <h3>Export</h3>
    <p>
      Your data is your data and you should be able to do with it as you choose,
      so here are a few handy formats in which to download all of your Reading posts.
    </p>
    <p>
      The <a href="http://fileformats.archiveteam.org/wiki/Netscape_bookmarks" target="_blank">HTML</a> can be
      <a href="https://www.google.com/search?q=importing+bookmarks&oq=importing+bookmarks&aqs=chrome..69i57j0l5.2654j0j1&sourceid=chrome&espv=210&es_sm=91&ie=UTF-8#q=importing+bookmarks+from+html" target="_blank">imported</a> into your favorite web browser, the 
      <a href="http://en.wikipedia.org/wiki/Comma-separated_values" target="_blank">CSV</a> will work with your favorite spreadsheet app,
      and the <a href="http://json.org/">JSON</a> is there for all you 1337 hackers.
    </p>
    <div class="well">
      <%= link_to 'Download HTML ⬇', "/settings/export/posts.html", :class => 'btn' %>
      <%= link_to 'Download CSV ⬇', "/settings/export/posts.csv", :class => 'btn' %>
      <%= link_to 'Download JSON ⬇', "/settings/export/posts.json", :class => 'btn' %>
    </div>
  </div>
</div>
<%= render :partial => 'backbone/router', :locals => {:router => 'users'} %>
