<div class="r_user"><a  href="https://reading.am/{{username}}">@{{username}}</a></div>
<span class="r_action">{{action}}</span>
<div class="r_page"><a  href="{{page_url}}">{{page}}</a></div>
<a class="r_close">✕</a>