<h1>Reading</h1>
<p>Yay for reading!</p>
<% if current_user %>
  <% if !current_user.username %>
    <%= render :partial => 'users/username_form', :locals => { :user => current_user } %>
  <% end %>
  Welcome <%= current_user.name %>
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <%= link_to "Sign in with Facebook", "/auth/facebook" %>
<% end %>
