<div id="content">
  <h1>#<%= params[:id] %></h1>
  <% @result.each do |comment| %>
  <div>
    <blockquote>
      <% if comment.body == "##{params[:id]}" %>
       <p> <a href="">@<%= comment.user.username %></a> shared <a href=""><%= comment.page.title %></a> to the group.</p>
      <% else %>
        <p><%= comment.body[3..-1] %><p>
        &mdash; <cite><a href="">@<%= comment.user.username %></a> on <a href=""><%= comment.page.title %></a></cite>
      <% end %>
    </blockquote>
  </div>
  <% end %>
</div>