<div id="content">
  <h4 class="breadcrumb"><%= link_to @page.domain.name, "http://#{DOMAIN}/domains/#{@page.domain.name}" %> » <span class="active"><%= @page.display_title %></span></h4>
  <%= link_to @page.url, @page.url, :class => 'external' %>

  <h5><%= pluralize @page.users.uniq.count, 'Reader' %></h5>
  <table id="readers">
  <% @page.users.uniq.each do |user| %>
    <tr>
      <td><%= render :partial => 'users/user', :locals => { :user => user } %></td>
    </tr>
  <% end %>
  </table>
</div>
<div id="pages"></div>
<script type="text/javascript">
  ø.$(function() {
    window.router = new Reading.Routers.Pages({model: <%= @page.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
