<div class="span1 date">
  &nbsp;
</div>
<div class="span6 posts_group">
  <div class="page">
    <h2>
      <a href="{{wrapped_url}}" class="external">
        <span>{{page.title}}</span>
      </a>
    </h2>
    <p class="excerpt" title="{{page.excerpt}}">
      {{page.excerpt}}
    </p>
  </div>
  <div class="posts">
    <div class="post {{#yep}}yep{{/yep}}
      {{#nope}}nope{{/nope}}">
      <span class="yn"></span>
      <span class="yn_wrap">
        <span class="body">
          <a href="/{{user.username}}" class="user">{{user.display_name}}</a>
          {{#user.is_current}}are{{/user.is_current}}
          {{^user.is_current}}is{{/user.is_current}}
          reading this
        </span>
      </span>
    </div>
  </div>
</div>
<div class="span1 comment">
</div>
