<a href="{{url}}">
  <div class="r_avatar">
    <img src="{{avatar}}">
  </div>
  <div class="r_info">
    <span class="r_name">{{display_name}}</span>
    {{#if username}}<span class="r_username">@{{username}}</span>{{/if}}
    {{#if bio}}<br><span class="r_bio">{{bio}}</span>{{/if}}
  </div>
</a>
