<%= form_for(@hook) do |f| %>
  <% if @hook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hook.errors.count, "error") %> prohibited this hook from being saved:</h2>

      <ul>
      <% @hook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %>
    <%= f.select(:provider, Hook::PROVIDERS, {:include_blank => 'Select a hook type'}) %>
  </div>
  <div class="field" style="display:none;">
    <%= f.label :token %>
    <%= f.text_field :token %>
  </div>
  <div class="field" style="display:none;">
    <%= f.label :action %>
    <%= f.text_field :action %>
    <%= f.select(:action, [:post, :get]) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
