<%= form_for(@hook) do |f| %>
  <% if @hook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hook.errors.count, "error") %> prohibited this hook from being saved:</h2>

      <ul>
      <% @hook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %>
    <%= f.select(:provider, Hook::PROVIDERS, {:include_blank => 'Select a hook type'}) %>
  </div>
  <div id="hipchat_message" class="hook_message">
    Messages will be posted to <a href="https://www.hipchat.com">HipChat</a> in the following format.
    Note: you'll need an <a href="https://hipchat.com/group_admin/api">API Token</a>.
    <pre>
    <%= link_to current_user.display_name, "/#{current_user.username}" %> is reading <%= link_to "Page Title Here", "http://example.com" %></pre>
  </div>
  <div id="campfire_message" class="hook_message">
    Messages will be posted to <a href="http://campfirenow.com">Campfire</a> in the following format.
    Note: you'll need your API Token from the "My info" screen within Campfire.
    <pre>
    I'm reading "Page Title Here" <a href="http://example.com">http://example.com</a></pre>
  </div>
  <div id="url_message" class="hook_message">
    The following data will be sent via POST or GET to a URL of your choosing each time you add a post:
    <pre>
    post[title] - The page title of the post
    post[url] - The url of the post
    post[wrapped_url] - The url of the post routed through Reading for automatic list updates</pre>
    In order to add a URL hook, you'll need to verify ownership of the URL by adding this meta tag anywhere in the &lt;head&gt; of your HTML:
    <pre>
    <%= "<meta property=\"rd:token\" content=\"#{current_user.token}\">".gsub(/</,"<").gsub(/>/,">") %></pre>
    Once the hook has been added, this meta tag can be removed.
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
