<% # TODO - rework this logic to either be built out with or conslidated with the JS logic %>
<td class="hook">
  ↪ When I <strong><%= Hook::ACTIONS[hook.action.to_sym][:text] %></strong> please post to the <strong><%= hook.provider.capitalize %></strong>
<% if !hook.authorization.nil? %>
  account <%= provider_span(hook.authorization) %>
<% elsif hook.params.length == 1 %>
  <% hook.params.each do |k,v| %>
    <%= k %> <strong><%= v %></strong>
  <% end %>
<% elsif hook.params['room'] %>
  room <strong><%= hook.params['room'] %></strong>
<% elsif hook.params['address'] %>
  address <strong><%= hook.params['address'] %></strong>
<% end %>
</td>
