<div id="hooks">
<h4>Hooks</h4>
<h5>Hooks are run every time you post</h5>
<table>
  <tr>
    <th>Provider</th>
    <th>Access Token</th>
    <th>Action</th>
  </tr>
<% @user.hooks.each do |hook| %>
  <tr>
    <td><%= hook.provider %></td>
    <td><%= hook.token %></td>
    <td><%= hook.action %></td>
    <% if hook.user.id == current_user.id %>
    <%# <td><%= link_to 'Edit', edit_hook_path(hook), :class => 'admin action'</td>  %>
    <td><%= link_to 'Delete', hook, :class => 'admin action', :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<%= link_to 'Add a hook', new_hook_path %>
</div>
