<%= render :partial => 'users/settings_subnav' if @user == current_user %>

<%= render :partial => 'layouts/notice', :locals => {:notice => notice} %>

<div id="hooks_blank" class="row">
  <div class="span7 offset1">
    Hooks perform an action each time you do something, like posting to
    <%= link_to "Twitter", "http://twitter.com" %> or <%= link_to "Facebook", "http://facebook.com" %> when you <strong>read a page</strong>.
    Have an idea for a new hook? <%= mail_to "hello@#{DOMAIN}", 'Let us know', :subject => 'I\'m hooked on Reading', :encode => 'javascript', :class => 'email' %>.
  </div>
</div>

<% if @hooks.length > 0 %>
<div id="hooks">
  <div class="row">
    <div class="span7 offset1">
      <%= render :partial => 'hooks/form', :locals => {:hook => @new_hook} if @new_hook %>
    </div>
  </div>

  <% @hooks.each do |hook| %>
    <div class="row">
      <div class="span1 icon">
        ↪ 
      </div>
      <div class="span6">
        <%= render :partial => 'hooks/hook', :locals => {:hook => hook} %>
      </div>
      <div class="span1">
      <% if hook.user.id == current_user.id %>
        <%= link_to 'Delete', hook, :class => 'admin action', :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
<% end %>
