<div id="new_post_row" class="row">
  <div class="span7 offset1">
    <%= twitter_bootstrap_form_for(Post.new) do |f| %>
      <%= f.text_field :user_id, false, :placeholder => 'Enter the url you\'d like to post', :class => 'input-xlarge' %>
      <%= f.actions do %>
        <%= f.submit 'Add Post', :class => 'btn' %>
      <% end %>
    <% end %>
  </div>
  <div class="span7 offset1">
    Even better, post using our <%= link_to 'extension', '/settings/extras' %> or <%= link_to 'bookmarklet', '/settings/extras' %>
  </div>
</div>
