<%
    time = ''
    wrap_urls = false unless defined? wrap_urls
%>
<% posts.group_by(&:page).each_with_index do |(page, subposts), i| %>
  <%
    subposts.reverse!
    post = subposts.first
    yn_avg = yn_average subposts
    comment_count = 0
    subposts.each do |p| comment_count += p.comments.size end
    if yn_avg > 0
      yn_class = "yep"
    elsif yn_avg < 0
      yn_class = "nope"
    else
      yn_class = ""
    end
  %>
  <div class="row w_rule<%= " first" if i == 0 %>">
    <div class="span1 date">
    <% if time != subposts.last.created_at.strftime("%m/%d") %>
      <%= time = subposts.last.created_at.strftime("%m/%d") %>
    <% elsif !yn_class.blank? %>
      <h3 class="<%= yn_class %>"><%= yn_avg > 0 ? '✔' : '×' %></h3>
    <% else %>
      &nbsp;
    <% end %>
    </div>
    <div class="span6 posts_group">
      <%= render :partial => 'pages/page', :locals => { :page => page, :yn_class => yn_class, :post => post, :wrap_url => wrap_urls } %>
      <div class="posts">
      <% subposts.each do |post| %>
        <%= render :partial => 'posts/subpost', :locals => { :post => post } %>
      <% end %>
      </div>
    </div>
    <div class="span1">
	<% if comment_count > 0 %>
           <a class="has_comments" href="<%= post.wrapped_url %><%#"/domains/#{page.domain_id}/pages/#{page.id}" %>" title="There <%= comment_count == 1 ? "is" : "are" %> <%= comment_count %> recent <%= "comment".pluralize comment_count %>">
        <%= comment_count %>
        <div class="r_tri"></div>
      </a>
    <% end %>
    <% if logged_in? and post.user.id == current_user.id %>
      <%= link_to 'Delete', post, :class => 'admin action', :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    </div>
  </div>
<% end %>
