<% if @user and @user.posts.size == 0 %>
  <%= render :partial => 'blank_slate' %>
<% else %>

<% if @user %>
  <%= render :partial => 'users/card', :locals => {:user => @user} %>
  <%= render :partial => 'users/you_subnav', :locals => {:user => @user} %>
<% else %>
  <div id="subnav" class="row">
    <div class="span7 offset1">
    <% if @domain %>
      <h2>Stuff people are reading on <%= @domain.name %></h2>
    <% else %>
      <h2>Some people are reading this stuff</h2>
    <% end %>
    </div>
  </div>
<% end %>

<%= render :partial => 'posts/group', :locals => {:posts => @posts} %>

<div id="posts_footer" class="row">
  <div class="span5 offset1">
    <%= will_paginate @posts, :page_links => false %>
  </div>
  <div class="span1">
    <%= link_to rss_path, {:class => 'rss'} do %>
      <abbr>r</abbr> rss
    <% end %>
  </div>
</div>

<% end %>
