<% if @user and @user.posts.size == 0 %>
  <%= render :partial => 'blank_slate' %>
<% else %>

<div id="content">
  <%= request.path %>
<h4>
<% if @domain %>
  What people have been reading on <%= @domain.name %>
<% else %>
  What <%= if @user == current_user then "you've" else "#{@user.display_name} has" end %> been reading
<% end %>
</h4>

<%= render :partial => 'users/subnav' if @user %>

<table>
<% time = '' %>
<% @posts.each do |post| %>
  <tr>
    <td class="date">
    <%=
      if time != post.created_at.strftime("%m/%d")
        time = post.created_at.strftime("%m/%d")
      end
    %>
    </td>
    <td><%= render :partial => 'posts/post', :locals => { :post => post } %></td>
    <% if logged_in? and post.user.id == current_user.id %>
      <%# <td><%= link_to 'Edit', edit_post_path(post), :class => 'admin action' </td>%>
      <td><%= link_to 'Delete', post, :class => 'admin action', :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= link_to('RSS', "#{request.path + (params[:type] == 'list' ? '/list' : '')}.rss?t=#{current_user.token}", {:class => 'rss'}) if !params[:type].nil? and logged_in? %>

</div>

<% if @user and @user == current_user %>
<div class="bookmarklet">
  <span>Drag me to your bookmarks bar</span>
  <%= link_to '✌ Reading', bookmarklet_url(current_user) if logged_in? and current_user == @user %>
</div>
<% end %>

<% end %>
