<% if @user and @user.posts.size == 0 %>
  <%= render :partial => 'blank_slate' %>
<% else %>

<% if @user %>
  <%= render :partial => 'users/card', :locals => {:user => @user} %>
  <%= render :partial => 'users/you_subnav', :locals => {:user => @user} %>
<% else %>
  <div id="subnav" class="row">
    <div class="span7 offset1">
    <% if @domain %>
      <h2>Stuff people are reading on <%= @domain.name %></h2>
    <% else %>
      <h2>Some people are reading this stuff</h2>
    <% end %>
    </div>
  </div>
<% end %>

<%= render :partial => 'posts/group', :locals => {:posts => @posts} %>

<div class="row">
  <div class="span7 offset1">
  <% unless request.path_info == '/' %>
    <%= will_paginate @posts, :page_links => false %>
  <% else %>
    <div class="pagination">
      <ul>
        <li>
          <a class="next_page" rel="next" href="/everybody/posts/page/2">Even More More More Reading →</a>
        </li>
      </ul>
    </div>
  <% end %>
  </div>
</div>

<%= render :partial => 'layouts/footernav' if !params[:type].nil? and logged_in? %>

<% if @user and @user == current_user %>
<div class="bookmarklet">
  <span>Drag me to your bookmarks bar</span>
  <%= link_to '✌ Reading', bookmarklet_url(current_user) if logged_in? and current_user == @user %>
</div>
<% end %>

<% end %>
