<% if notice %>
<div id="notice" class="row section tagalong_end">
  <div class="span8">
    <%= notice %>
  </div>
</div>
<% end %>
<% if @user %>
  <%= render :partial => 'users/card', :locals => {:user => @user} %>
  <%= render :partial => 'users/you_subnav', :locals => {:user => @user} %>
  <%= render :partial => 'blank_slate' if @user.posts.size == 0 or @user.following.size == 0 %>
<% else %>
  <div id="subhead" class="row">
    <div class="span7 offset1">
    <% if @domain %>
      <h3>Stuff people are reading on <%= @domain.name %></h3>
    <% elsif logged_in? %>
      <h3>Posts from everyone on Reading</h3>
    <% else %>
      <h3>Some people are reading this stuff</h3>
    <% end %>
    </div>
  </div>
<% end %>

<%= render :partial => 'posts/group', :locals => {:posts => @posts} %>

<div id="posts_footer" class="row">
  <div class="span5 offset1">
    <%= will_paginate @posts, :page_links => false %>
  </div>
  <% unless params[:type].nil? %>
  <div class="span1">
    <%= link_to rss_path, {:class => 'rss'} do %>
      <span class="glyph">r</span> rss
    <% end %>
  </div>
  <% end %>
</div>
