<% if @user %>
  <%= render :partial => 'users/card', :locals => {:user => @user} %>
  <%= render :partial => 'users/you_subnav', :locals => {:user => @user} %>
  <% if params[:type] == 'posts' and @user.posts.size == 0 %>
    <%= render :partial => 'posts_blank_slate' %>
  <% elsif params[:type] == 'list' and @user.following.size == 0 %>
    <%= render :partial => 'list_blank_slate' %>
  <% end %>
<% else %>
  <div id="subhead" class="row">
    <div class="span7 offset1">
    <% if @domain %>
      <h3>Stuff people are reading on <%= @domain.name %></h3>
    <% else %>
      <h3>Some people are reading this stuff</h3>
    <% end %>
    </div>
  </div>
<% end %>

<%= render :partial => 'posts/group', :locals => {:posts => @posts} %>

<div id="posts_footer" class="row">
  <div class="span5 offset1">
    <%= will_paginate @posts, :page_links => false %>
  </div>
  <% unless params[:type].nil? %>
  <div class="span1">
    <%= link_to rss_path, {:class => 'rss'} do %>
      <span class="glyph">r</span> rss
    <% end %>
  </div>
  <% end %>
</div>
