<% if @user and @user.posts.size == 0 %>
  <%= render :partial => 'blank_slate' %>
<% else %>

<div id="content">

<%= render :partial => 'users/you_subnav' if @user %>

<table>
<% time = '' %>
<% @posts.each do |post| %>
  <tr>
    <td class="date">
    <%=
      if time != post.created_at.strftime("%m/%d")
        time = post.created_at.strftime("%m/%d")
      end
    %>
    </td>
    <td><%= render :partial => 'posts/post', :locals => { :post => post } %></td>
    <% if logged_in? and post.user.id == current_user.id %>
      <td><%= link_to 'Delete', post, :class => 'admin action', :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<% unless request.path_info == '/' %>
  <%= will_paginate @posts %>
<% else %>
  <div class="pagination"><a class="next_page" rel="next" href="/everybody/posts/page/2">Even More More More Reading →</a></div>
<% end %>

<% if !params[:type].nil? and logged_in? %>
<div id="foot_nav">
<%= link_to rss_path, {:class => 'rss'} do %>
  <abbr>r</abbr> RSS
<% end %>
<% if @user and params[:type] == 'posts' and @user == current_user %>
  <%= link_to '⬇ Export', "/#{current_user.username}/export.csv" %>
<% end %>
</div>
<% end %>

</div>

<% if @user and @user == current_user %>
<div class="bookmarklet">
  <span>Drag me to your bookmarks bar</span>
  <%= link_to '✌ Reading', bookmarklet_url(current_user) if logged_in? and current_user == @user %>
</div>
<% end %>

<% end %>
