<% if @user and @user.posts.size == 0 %>
  <%= render :partial => 'blank_slate' %>
<% else %>

<% if @user %>
  <%= render :partial => 'users/you_subnav' %>
<% elsif @domain %>
  <h4>Stuff people are reading on <%= @domain.name %></h4>
<% else %>
  <h4>Some people are reading this stuff</h4>
<% end %>

<% time = '' %>
<% @posts.group_by(&:page).each do |page, subposts| %>
  <%
    subposts.reverse!
    post = subposts.first
  %>
  <div class="row">
    <div class="span1 date">
    <% if time != post.created_at.strftime("%m/%d") %>
      <%= time = post.created_at.strftime("%m/%d") %>
    <% else
      yn_avg = yn_average subposts
    %>
      <h3 class="<%= if yn_avg > 0 then "yep" elsif yn_avg < 0 then "nope" end %>"></h3>
    <% end %>
    &nbsp;
    </div>
    <div class="span10 posts_group">
      <h3>
        <%= render :partial => 'pages/page', :locals => { :page => page } %>
      </h3>
      <div class="posts">
      <% subposts.each do |post| %>
        <%= render :partial => 'posts/subpost', :locals => { :post => post } %>
      <% end %>
      </div>
    </div>
    <div class="span1">
    <% if logged_in? and post.user.id == current_user.id %>
      <%= link_to 'Delete', post, :class => 'admin action', :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    </div>
  </div>
<% end %>

<% unless request.path_info == '/' %>
  <%= will_paginate @posts %>
<% else %>
  <div class="pagination"><a class="next_page" rel="next" href="/everybody/posts/page/2">Even More More More Reading →</a></div>
<% end %>

<% if !params[:type].nil? and logged_in? %>
<div id="foot_nav">
<%= link_to rss_path, {:class => 'rss'} do %>
  <abbr>r</abbr> RSS
<% end %>
<% if @user and params[:type] == 'posts' and @user == current_user %>
  <%= link_to '⬇ Export', "/#{current_user.username}/export.csv" %>
<% end %>
</div>
<% end %>

<% if @user and @user == current_user %>
<div class="bookmarklet">
  <span>Drag me to your bookmarks bar</span>
  <%= link_to '✌ Reading', bookmarklet_url(current_user) if logged_in? and current_user == @user %>
</div>
<% end %>

<% end %>
