<% if !params[:username] && !current_user.username %>
  <%= render :partial => 'users/username_form', :locals => { :user => current_user } %>
<% end %>

<%= to_bookmarklet(Rails.root.to_s + '/public/javascripts/bookmarklet.js') %>

<h1>Listing posts</h1>

<table>
  <tr>
    <th>User</th>
    <th>Page</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.user.username %></td>
    <td><%= link_to post.title, post.url %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
