<% if @user.posts.size == 0 %>
  <%= render :partial => 'blank_slate' %>
<% else %>

<div id="content">
<h4>
<% if @domain %>
  People have been reading on <%= @domain.name %>
<% else %>
  What <%= if @user == current_user then "you've" else "#{@user.display_name} has" end %> been reading
<% end %>
</h4>

<table>
<% time = '' %>
<% @posts.each do |post| %>
  <tr>
    <td class="date">
    <%=
      if time != post.created_at.strftime("%m/%d")
        time = post.created_at.strftime("%m/%d")
      end
    %>
    </td>
    <td><%= link_to post.title, post.url, :class => 'external' %></td>
    <% if post.user.id == current_user.id %>
      <%# <td><%= link_to 'Edit', edit_post_path(post), :class => 'admin action' </td>%>
      <td><%= link_to 'Delete', post, :class => 'admin action', :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

</div>

<% end %>

<%= link_to 'Reading', bookmarklet_url(current_user), :class => 'bookmarklet' if current_user and current_user == @user %>
