<script>
if(typeof reading == "undefined") reading = {};
reading.token = "<%= @token %>";
reading.url = "<%= @url %>";
reading.referrer_post_id = <%= @referrer_post_id %>;
</script>

<%= javascript_include_tag 'bookmarklet/init' %>

<div id="visit" class="row">
  <div class="span6 offset1">
    <h3>Loading <span><%= @url %></span><% if signed_in? %> and adding it to your reading list<% end %>.</h3>
  </div>
</div>
