<%= stylesheet_link_tag 'app/views/users/user/styles' %>
<%= stylesheet_link_tag 'email/overrides' %>
<%= stylesheet_link_tag 'email/mentioned' %>

<div class="container">

  <div class="row">
    <div class="span6">
      <p> Hi
        <%= link_to "#{ROOT_URL}/#{@resource.username}", :class => 'r_user' do %>
          <span class="r_name"><%= @resource.first_name %></span>
          <span class="r_username">(@<%= @resource.username %>)</span>,
        <% end %>
      </p>
      <p>Someone requested a link to change your password, which you can do by visiting the link below.</p>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), :class => "btn btn-success" %></p>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <p>
        If you didn't request this, would you mind responding to this email to let me know?<br>
        Don't worry, your password won't change until you visit the link above and create a new one.
      </p>
    </div>
  </div>

  <%= render :partial => 'user_mailer/signature' %>

</div>
