<div class="control-group" id="authorizations">
  <label class="control-label">Connections</label>
  <div class="controls">
    <ul class="unstyled">
      <% @user.authorizations.each do |authorization| %>
        <li>
          <%= render :partial => 'authorizations/authorization', :locals => {:authorization => authorization} %>
          <% if authorization.user == current_user and @user.authorizations.length > 1 %>
            <%= link_to 'Disconnect', authorization, :class => 'admin action', :confirm => 'Are you sure?', :method => :delete %>
          <% end %>
        </li>
      <% end %>
      <% if @user == current_user %>
        <li class="disconnected">
          <select data-method="connect">
            <option>Connect a new account</option>
        <% Authorization::PROVIDERS.each do |provider| %>
          <option value="<%= provider.capitalize %>"><%= provider.capitalize %></option>
        <% end %>
          </select>
        </li>
      <% end %>
      <li class="help-block">You can sign in and <%= link_to "create hooks", "/settings/hooks" %> with any of these accounts</li>
    </ul>
  </div>
</div>
