<div id="header">

<% in_settings = request.fullpath[0..8] == '/settings' %>
<% if signed_in? %>
<div class="row">
  <nav id="mainnav" class="span7 offset1">
  <% if current_user.username_was and current_user.email_was # hides nav for /almost_ready %>
    <%= link_to "You", "/#{current_user.username}/list", :class => ((request.path.split('/')[1] == current_user.username and !in_settings) ? 'active' : '') %>
    <span class="hide_iphone">-</span> <%= link_to "Everybody", '/everybody', :class => (params[:controller] != 'search' && params[:username] != current_user.username && !in_settings ? 'active' : '') %>
    <span class="hide_iphone">-</span> <%= link_to "Settings", edit_user_registration_path, :class => (in_settings ? 'active' : '') %>
    <span class="hide_iphone">-</span> <%= render :partial => 'search/form' %>
  <% end %>
  </nav>
</div>
<% else %>
<%
  signup_page = ['devise/sessions','registrations'].include? request[:controller] 

  if signup_page
    headline = "This is going to be so awesome."
  elsif @user.nil? or (signed_in? && current_user.id == @user.id)
    you = "you"
    youre = "you're"
  else
    you = @user.first_name
    youre = "#{you} is"
  end
%>
<div class="row">
  <div class="span7 offset1">
    <h3>
    <% if !headline.blank? %>
      <br><br><%= headline %>
    <% else %>
      <span id="lead_in"><% if you == "you" %>Share what<% else %>What<% end %> <%= youre %> reading. </span>
      Not what <%= you %> like<%= 's' if @user and @user != current_user %>. Not what <%= you %> find<%= 's' if @user and @user != current_user %> interesting. Just what <%= youre %> reading.
    <% end %>
    </h3>
  </div>
</div>
<div class="row">
  <div id="signup" class="span7 offset1">
    <%= signup_page ? "Fill out the info below or s" : "S" %>ign up or in using:
    <%= link_to provider_span(:twitter), "#", :data => {:provider => 'Twitter', :method => 'login'} %>
    <%= link_to provider_span(:facebook), "#", :data => {:provider => 'Facebook', :method => 'login'} %>
    <% unless signup_page # put this in the footer %>
      <%= link_to provider_span(:email), new_user_session_path %>
    <% end %>
  </div>
</div>
<% end %>

</div>
