<!DOCTYPE html>
<html>
<head>
  <title>Reading</title>
  <%= stylesheet_link_tag 'http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css' %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min', 'jquery_ujs', 'jquery.cookies', 'application', 'user' %>
  <%= csrf_meta_tag %>
</head>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25148939-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<body>
  <div id="wrapper">
  <%= render :partial => 'layouts/header' if params[:action] != 'visit' %>
  <%= yield %>
  <%= render :partial => 'layouts/footer' if params[:action] != 'visit' %>
  </div>
</body>
</html>
