<!DOCTYPE html>
<html>
<head>
  <title>✌ Reading – Not what you like. Not what you find interesting. Just what you're reading.</title>
  <%= stylesheet_link_tag 'http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css' %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min', 'jquery_ujs', 'jquery.cookies', 'application', 'user' %>
  <%= csrf_meta_tag %>
  <%= render :partial => 'layouts/ga_embed' %>
</head>
<body>
  <div id="wrapper">
  <%= render :partial => 'layouts/header' if params[:action] != 'visit' %>
  <%= yield %>
  <%= render :partial => 'layouts/footer' if params[:action] != 'visit' %>
  </div>
</body>
</html>
