<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <title>
    <% if mobile_device? %>
      Reading
    <% else %>
      <%= @page_title || "✌ Reading – What you're reading. Not what you like. Not what you find interesting. Just what you're reading." %>
    <% end %>
  </title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png">
  <meta property="fb:app_id" content="241046329250415" />
  <%= og_tags(@og_props || {}) %>
  <% if mobile_device? %><meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no"><% end %>
  <script> var ENVIRONMENT = '<%= Rails.env %>'; </script>
  <%= auto_discovery_link_tag(:rss, rss_path) if !params[:type].nil? and logged_in? %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'mobile', :media => 'only screen and (max-device-width: 480px)' %>
  <script><%= render :partial => 'layouts/current_user_js' %></script>
  <%= javascript_include_tag 'application' %>
  <!--[if IE]><%= javascript_include_tag 'ie/html5' %><![endif]-->
  <%= csrf_meta_tag %>
  <%= render :partial => 'layouts/ga_embed' if Rails.env == 'production' %>
</head>
<body>
<%= render :partial => 'layouts/fb_api' %>
  <div class="container">
  <%= render :partial => 'layouts/header' if params[:action] != 'visit' %>
  <%= yield %>
  <%= render :partial => 'layouts/footer' if params[:action] != 'visit' %>
  </div>
  <script>
    <%= render :partial => 'posts/post.js.tmpl' %>
  </script>
  <%= render :partial => 'layouts/pusher' if logged_in? and @channels %>
  <%= render :partial => 'layouts/loading' %>
</body>
</html>
