<!DOCTYPE html>
<html>
<head>
  <title>✌ Reading – What you're reading. Not what you like. Not what you find interesting. Just what you're reading.</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <%= auto_discovery_link_tag(:rss, "#{request.request_uri + (params[:type] == 'list' ? '/list' : '')}.rss?t=#{current_user.token}") if !params[:type].nil? and logged_in? %>
  <%= stylesheet_link_tag 'http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css' %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min', 'jquery_ujs', 'jquery.cookies', 'application', 'user', 'hook' %>
  <%= csrf_meta_tag %>
  <%= render :partial => 'layouts/ga_embed' %>
</head>
<body>
  <div id="wrapper">
  <%= render :partial => 'layouts/header' if params[:action] != 'visit' %>
  <%= yield %>
  <%= render :partial => 'layouts/footer' if params[:action] != 'visit' %>
  </div>
</body>
</html>
