<!DOCTYPE html>
<html>
<%= render :partial => 'layouts/head' %>
<body>
  <%= render :partial => 'layouts/fb_api' %>
  <%= render :partial => 'layouts/titlecard' %>
  <div class="container">
    <%= render :partial => 'layouts/header' if params[:action] != 'visit' %>
    <%= yield %>
  </div>
  <%= render :partial => 'layouts/loading' %>
  <%= render :partial => 'layouts/quantcast' if Rails.env == 'production' %>
</body>
</html>
