<!DOCTYPE html>
<html>
<%= render :partial => 'layouts/head' %>
<body id="bb">
  <%= render :partial => 'layouts/fb_api' %>
  <div id="yield"></div>
  <%= yield %>
  <%= render :partial => 'layouts/loading' %>
  <%= render :partial => 'layouts/quantcast' if Rails.env == 'production' %>
</body>
</html>
